<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.araise.burgerking.mapper.CartMapper">
    <!-- 상품 장바구니 추가 -->
    <insert id="addCart" parameterType="cartVO">
        INSERT INTO BURGER_CART 
       	(
			CARTNUM,
			USERID,
			PCODE,		
			PRICE,
			PNAME,
			POPTION
		<if test="pOption != '단품'">
	    	, DRINK1,
			SIDE1		
	    	<if test="pOption == '할인팩'">
				, DRINK2,
				SIDE2    
	    	</if>
	    </if>
		)
     	VALUES 
     	(
			CARTNUMBER_SEQ.nextval,
			#{userId},
			#{pCode},
			#{price},
			#{pName},
			#{pOption}
    	<if test="pOption != '단품'">
    	    , #{drink1},
			#{side1}
	   		<if test="pOption == '할인팩'">
		    	, #{drink2},
	    		#{side2}
	   		</if>
   		</if>
		)
    </insert>
	
    <!-- 장바구니 목록-->
	<select  id="cartList" resultType="cartVO">
		SELECT c.CARTNUM,
			   c.USERID,
			   c.PCODE,
			   c.ADDDATE,
			   c.PRICE,
			   c.PNAME,
			   c.DRINK1,
			   c.DRINK2,
			   c.SIDE1,
			   c.SIDE2,
			   c.POPTION,
			   p.PURL
	   		FROM BURGER_CART c 
	   		JOIN BURGER_PRODUCT p 
	   		ON c.PCODE = p.PCODE
	   		WHERE c.USERID = #{userId}	   		
	</select>
	
	<!-- 장바구니 상품 제거 -->
	<delete id="cartDelete">
		DELETE BURGER_CART
			WHERE CARTNUM = #{cartNum}
			AND USERID = #{userId}
	</delete>
	
</mapper>